html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.custom-input {
    background-color: darkgrey;
    color: #000;
    border: 1px solid #ccc;
    padding: 0.2rem;
    border-radius: 4px;
    max-width: 100%;
}

.custom-select {
    background-color: darkgrey;
    color: #000;
    border: 1px solid #ccc;
    padding: 0.2rem;
    border-radius: 4px;
}

.custom-label {
    padding: 0.2rem;
}

.label-text {
    margin-right: 1rem;
    display: inline-block;
    font-weight: bold;
}